.home-page {
  font-family: "Roboto", "Playfair Display", "Montserrat", "Lora";
  background-color: #f9f8f6;
  padding: 0 1rem; /* Add padding for smaller screens */
}

p {
  color: black;
}

.main-content {
  text-align: center;
  padding: 2rem 1rem;
}

/* Section Styles */
.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s, transform 0.5s;
}

.section-in-view {
  opacity: 1;
  transform: translateY(0);
}

.brand-section {
  padding: 2rem 1rem;
}

.brand-logo {
  width: 100%;
  max-width: 300px; /* Adjust this value based on your preference */
  height: auto;
}

.cards-section {
  padding: 2rem 1rem;
}

.about-section {
  padding: 2rem 1rem;
}

.staff-section {
  padding: 2rem 1rem;
}

.brand-typography {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: black;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap; /* Ensure cards wrap on smaller screens */
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  background: #b7b7b7;
  color: black;
  text-decoration: none;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.exit-icon {
  width: 40px; /* Adjust the size as needed */
  position: absolute;
  height: 40px;
  cursor: pointer;
  top: 20px;
  right: 20px;
}

.about-us,
.staff-members {
  margin-bottom: 2rem;
  color: black;
}

.staff-member {
  display: inline-block;
  margin: 1rem;
  text-align: center;
}

.staff-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1rem;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 80%;
    margin-bottom: 1rem;
  }

  .brand-logo {
    max-width: 200px; /* Smaller max width for tablets */
  }

  .exit-icon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .brand-logo {
    max-width: 150px; /* Smaller max width for mobile phones */
  }

  .exit-icon {
    width: 25px;
    height: 25px;
  }
}
