.home-page {
  font-family: "Roboto", "Playfair Display", "Montserrat", "Lora";
  background-color: #f9f8f6;
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f9f8f6;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-logo {
  display: flex;
  align-items: center;
}

.brand-logo img {
  height: 5rem; /* Default size */
}

/* Additional elements */
.exit-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

p {
  color: black;
}

.main-content {
  text-align: center;
  padding: 2rem 1rem;
}

.cards-section,
.about-section,
.staff-section {
  padding: 2rem 1rem;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
  width: 200px; /* Default width */
  text-align: center;
  background: #b7b7b7;
  color: black;
  text-decoration: none;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.about-us,
.staff-members {
  margin-bottom: 2rem;
  color: black;
}

.staff-member {
  display: inline-block;
  margin: 1rem;
  text-align: center;
}

.staff-member img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1rem;
}

/* Media queries for responsiveness */
@media (min-width: 1200px) {
  .brand-logo img {
    height: 5rem;
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  .brand-logo img {
    height: 4rem; /* Adjust size for medium screens */
  }

  .card {
    width: 220px; /* Slightly larger card for medium screens */
  }
}

@media (max-width: 1024px) {
  .brand-logo img {
    height: 4rem; /* Adjust size for medium screens */
  }

  .card {
    width: 200px; /* Default card width for small screens */
  }
}

@media (max-width: 768px) {
  .brand-logo img {
    height: 3rem; /* Smaller size for mobile screens */
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem; /* Reduced gap for smaller screens */
  }

  .card {
    width: 90%; /* Adjust card width for better fit */
    max-width: 300px; /* Ensure cards don't get too large */
  }

  .exit-icon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .brand-logo img {
    height: 3rem; /* Smallest size for mobile screens */
  }

  .exit-icon {
    width: 25px;
    height: 25px;
  }

  .card {
    width: 100%; /* Full width for the smallest screens */
    max-width: 300px; /* Ensure cards don't get too large */
  }
}
