/* Logs.css */
.logs-container {
  max-width: 1200px;
  margin: 40px auto 20px auto; /* Added top margin for spacing from the top of the page */
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #b7b7b7; /* Match background with login/signup */
  border-radius: 10px; /* Match border radius */
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6); /* Match box shadow */
}

h1 {
  color: #fff; /* Match color with login/signup */
  margin-bottom: 20px;
  font-size: xxx-large; /* Adjust font size if needed */
}

.search-input {
  margin-bottom: 20px;
  padding: 15px; /* Match padding with login/signup input */
  font-size: 18px; /* Match font size with login/signup input */
  width: 100%;
  max-width: 400px;
  border: none; /* Remove border for consistency */
  border-bottom: 1px solid #fff; /* Match border style */
  outline: none;
  background: transparent; /* Match background with login/signup input */
  color: #fff; /* Match text color */
}

.logs-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Set table background to white */
}

.logs-table th,
.logs-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.logs-table th {
  background-color: #f9f9f9;
  color: #333;
  font-weight: bold;
}

.logs-table td {
  background-color: #fff;
  color: #666;
}

.logs-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.logs-table tr:hover {
  background-color: #f1f1f1;
}

.logs-table a {
  color: #000000; /* Match link color with login/signup */
  text-decoration: none;
  font-weight: bold;
}

.logs-table a:hover {
  text-decoration: underline;
}

.pagination {
  margin-top: 20px;
}

.page-button {
  padding: 14px 28px; /* Match padding with login/signup buttons */
  border: none;
  background-color: #000000; /* Match button background color */
  color: white;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 18px; /* Match font size with login/signup buttons */
  transition: background-color 0.3s ease;
}

.page-button.active {
  background-color: #4a7171; /* Match active button color */
}

.page-button:hover {
  background-color: #4a7171; /* Match hover button color */
}

.fas.fa-file-pdf {
  font-size: 16px;
  color: #d9534f; /* Match PDF icon color */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .search-input {
    font-size: medium;
  }

  .page-button {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .search-input {
    font-size: small;
  }

  .page-button {
    padding: 8px 16px;
    font-size: 12px;
  }
}
