.signup-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vw; /* Match login width */
  max-width: 600px; /* Match login max-width */
  min-width: 300px; /* Match login min-width */
  padding: 40px;
  transform: translate(-50%, -50%);
  background: #b7b7b7; /* Match login background */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.signup-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: white;
  text-align: center;
  font-size: xxx-large; /* Match login font size */
}

.signup-box .user-box {
  position: relative;
}

.signup-box .user-box input {
  width: 100%;
  padding: 15px 0; /* Match login padding */
  font-size: 18px; /* Match login font size */
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.signup-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 18px; /* Match login label font size */
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.signup-box .user-box input:focus ~ label,
.signup-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #000000; /* Match login color */
  font-size: 14px; /* Match login font size */
}

.signup-box .errorLabel {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.signup-box .inputButton {
  border: none;
  background: #000000; /* Match login background */
  color: white;
  padding: 14px 28px; /* Match login padding */
  margin-top: 20px;
  font-size: 18px; /* Match login font size */
  border-radius: 5px;
  cursor: pointer;
}

.signup-box .inputButton:hover {
  background: #4a7171; /* Match login hover color */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .signup-box {
    width: 90%;
    padding: 10px;
    top: 40%;
  }

  .signup-box h2 {
    font-size: 48px;
  }

  .signup-box .user-box input {
    font-size: medium;
  }

  .signup-box .inputButton {
    padding: 10px 20px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .signup-box {
    width: 90%;
    padding: 10px;
    top: 35%;
    margin: 0 1%;
  }

  .signup-box h2 {
    font-size: 36px;
  }

  .signup-box .user-box input {
    font-size: small;
  }

  .signup-box .inputButton {
    padding: 8px 16px;
    font-size: 12px;
  }
}
